body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

h1 span i {
    color: red;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;


}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    font-weight: bold;
    color: whitesmoke;
    background-image: linear-gradient(orange, tomato);

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;



}

.experience-item {
    width: 40%;
    box-shadow: 10px 10px 30px yellowgreen;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    background-image: linear-gradient(whitesmoke, aliceblue);
}

h2 {
    font-size: 40px;
}

.third-banner {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack-developer {
    border-left: 4px solid tomato;
}

#baby-web-developer {
    border-left: 4px solid blue;
}

footer p {
    text-align: center;
    font-size: 20px;
}